@media only screen and  (max-width: 1400px) {
    .carousel-image-small {
      height: 350px;
      width: 350px;
    }
    .contact-image {
        height: 160px;
        width: 160px;
      }
      .card{
        width: 80%;
      }
}

@media only screen and  (max-width: 1400px) {
    .contact-image {
      height: 160px;
      width: 160px;
    }
}

